<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Icon -->
    <link rel="stylesheet"th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">
	<!-- Main css -->
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/sidebars.css}">	
 	<!-- Bootstrap core CSS -->
 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<title>List question by course</title>
</head>
<body>
	<!-- Header start-->
	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 logo"  th:href="@{/}" style="text-align: center;">MOCK PROJECT</a>
		  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		  <div class="navbar-nav px-3">
		    <div class="nav-item text-nowrap">
		      <a class="nav-link" th:href="@{/logout}"><i class="zmdi zmdi-sign-in"></i> Logout</a>
		    </div>
		  </div>
	</header>
	<!-- Header end-->
		<!-- Sidebar start-->
	<div style="display: flex;align-items: stretch;">
	  	<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 251px;min-height:100vh;">
		  	<div style="text-align: center;">
		  	  	<i class="zmdi zmdi-account-circle" style="font-size: 100px;"></i>
			    <p class="fs-4">Admin</p>
		  	</div>
	    	<hr>
	    	<ul class="nav nav-pills flex-column mb-auto">
			      <li class="nav-item">
			        <a th:href="@{/admin/home}" class="nav-link" aria-current="page"><i class="zmdi zmdi-home"style="padding-right:16px ;"></i>Dashboard</a>
			      </li>
			      <li>
			        <a th:href="@{/admin/course}" class="nav-link text-white"><i class="zmdi zmdi-collection-bookmark" style="padding-right:16px ;"></i>Course</a>
			      </li>
			      <li>
			        <a th:href="@{/admin/question}" class="nav-link text-white active" style="color:#fff !important;" ><i class="zmdi zmdi-help"style="padding-right:16px ;"></i>Question</a>
			      </li>
			      <li>
			        <a th:href="@{/admin/question}" class="nav-link text-white"><i class="zmdi zmdi-accounts-alt"style="padding-right:16px ;"></i>Users</a>
			      </li>
	    	</ul>
	  	</div>
	  	
	  	
	  	
	  	<div class="container my-2 mx-5">
		<!--Show List Course-->
		<h2>List of questions</h2>


		
		<div th:each="question : ${questions}">
		<div style="display: flex;justify-content: space-between;margin-top:0px;">
		<div style="display: flex;width: 1000px;">
		<i class="zmdi zmdi-help"style="padding-right:16px;color:#333;font-size: 20px;padding-top: 7px;"></i>
			<div >
				<b><p th:text="${question.title}"style="margin:5px;"></p></b> 
				
				<i class="zmdi zmdi-circle-o"></i><span th:text="${question.optionA}"style="margin:5px;"></span ><br>
				<i class="zmdi zmdi-circle-o"></i><span  th:text="${question.optionB}"style="margin:5px;"></span ><br>
				<i class="zmdi zmdi-circle-o"></i><span  th:text="${question.optionC}"style="margin:5px;"></span ><br>
				<i class="zmdi zmdi-circle-o"></i><span  th:text="${question.optionD}"style="margin:5px;"></span ><br>
				<i class="zmdi zmdi-key"></i> Answer:<span  th:text="${question.answer}"style="margin:5px;"></span >
			</div>
		</div>
			
			<div>
			<a th:href="@{/admin/question/update/{id}(id = ${question.id})}" style="color: #17a2b8;font-size:30px;margin-right:10px;"><i class="zmdi zmdi-edit"></i></a>
			<a  th:href="@{/admin/question/delete?course_id={course_id}&question_id={id}(course_id = ${course.id}, id = ${question.id})}" style="color: red;font-size:30px"><i class="zmdi zmdi-delete"></i></a>
			</div>
			
		</div>
		<hr>
		</div>
		
		
	</div>

	</div>
</body>
</html>